[Unit]
Description=Unmount ESP before sleep for multi-OS setups
After=multi-user.target

[Install]
WantedBy=multi-user.target sleep.target

[Service]
Type=oneshot
ExecStartPre=/bin/umount /boot
ExecStart=/bin/umount /media/ESP

